/*

Template:  The Corps — Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Version: 2.1
Design and Developed by: potenzaglobalsolutions.com

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

 
/*================================================
[  Table of contents  ]
================================================
 
:: General
:: Page section margin padding 
:: Section title 1
:: Section title 2
:: button
:: button small
:: share button  
:: Text color
:: Input
:: Extra class
:: Tooltip
:: loding
:: Box Layout
:: Back to top
:: Basic margin padding
 
======================================
[ End table content ]
======================================*/

 
/*************************
		General
*************************/
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800,800italic,300italic|Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
 body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 18px; }
 a, .btn  { -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s; }
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #00a9da; text-decoration: none !important; }
a, button, input { outline: medium none !important; color: #00a9da; }
.uppercase { text-transform: uppercase; }
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; font-weight: normal; color: #363636; margin-top: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 40px; font-style: normal; font-weight: 500; line-height: 40px; }
h2 { font-size: 35px; font-style: normal; font-weight: 400; line-height: 35px; }
h3 { font-size: 28px; font-style: normal; font-weight: 400; line-height: 28px; }
h4 { font-size: 22px; font-style: normal; font-weight: 400; line-height: 22px; }
h5 { font-size: 18px; font-style: normal; font-weight: 400; line-height: 18px; }
h6 { font-size: 16px; font-style: normal; font-weight: 400; line-height: 18px; }
.fw-1 { font-weight: 100; }
.fw-2 { font-weight: 200; }
.fw-3 { font-weight: 300; }
.fw-4 { font-weight: 400; }
.fw-5 { font-weight: 500; }
.fw-6 { font-weight: 600; }
.fw-7 { font-weight: 700; }
.fw-8 { font-weight: 800; }
.fw-9 { font-weight: 900; }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
p { font-size: 14px; font-weight: normal; line-height: 24px; color: #626262; }
hr { margin: 60px 0; padding: 0px; border-bottom:1px dashed #eceff8; border-top: 0px; }
hr.mr { margin:0; padding: 0px; border-bottom:1px solid #eceff8; }
hr.mtb { margin:40px 0; padding: 0px; border-bottom:1px dashed #eceff8; border-top: 0px; }
label { font-size: 15px; font-weight: 400;color: #626262; }
.label { color: #fff !important; font-size: 9px !important; }
*::-moz-selection { background: #029fcc; color: #fff; text-shadow: none; }
::-moz-selection { background: #029fcc; color: #fff; text-shadow: none; }
::selection { background: #029fcc; color: #fff; text-shadow: none; }

/***************************
Page section margin padding 
****************************/
.page-section-ptb { padding: 80px 0; }
.page-section-pt { padding: 80px 0 0; }
.page-section-pb { padding: 0 0 80px; }
.page-section-1-ptb { padding: 50px 0; }
.page-section-1-pt { padding: 50px 0 0; }
.page-section-1-pb { padding: 0 0 50px; }
 
/*************************
    Section title 1
***********************/
.section-title-1 { margin-bottom: 60px; }
.section-title-1 h1 { margin-top: 0px;  text-transform: capitalize;} 
.section-title-1 p { margin-bottom: 0px; font-size: 16px; }
.section-title-1 .title-line { padding: 10px 0; }
.section-title-1 .title-line:before { background: #00a9da; content: ""; display: block; height: 2px; margin: 0 auto; width: 220px; }
.section-title-1 .title-line:after { background: #00a9da; content: ""; display: block; height: 6px; position: relative; top: -6px; margin: 0 auto;  width: 60px; }

/*************************
    section title 2
*************************/
.section-title-2 { margin-bottom: 60px; }
.section-title-2 h1 { margin-bottom: 0px; }
.section-title-2 h2 { margin-top: 0px;  text-transform: capitalize; margin-bottom: 0px; } 
.section-title-2 p { margin-bottom: 0px; font-size: 16px; }
.section-title-2 .title-line { padding: 20px 0 15px; }
.section-title-2 .title-line-2 { padding: 20px 0 15px; }
.section-title-2 .title-line:before { background: #00a9da; content: ""; display: block; height: 2px; margin: 0 auto; width: 100px; }
.section-title-2 .title-line-2:before { background: #fff; content: ""; display: block; height: 2px; margin: 0 auto; width: 100px; }

/*************************
    section title 3
*************************/
.section-title-3 { margin-bottom: 60px; }
.section-title-3 h1 { margin-bottom: 20px; font-weight: 300; }
.section-title-3 p { margin-bottom: 0px; font-size: 16px; padding: 0 100px; font-size: 14px; }

/*************************
		 button
*************************/
a.button { border: 0 none; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; cursor: pointer; display: inline-block; margin-right: 10px; overflow: hidden; padding: 0; position: relative; background-color: #00a9da; color: #fff; font-size: 15px; }
a.button i { background: rgba(0, 0, 0, 0.09); display: block; float: left; padding: 14px; font-size: 16px; color: #fff; font-weight: normal; width: 50px; text-align: center; }
a.button span { display: block; float: left;  position: relative; z-index: 2; padding: 11px 20px; font-size: 15px; color: #fff; font-weight: normal;  }
a.button:after { background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0; content: ""; height: 100%; right: 0; position: absolute; top: 0; width: 0;z-index: 1; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;	transition: all 0.3s ease-out 0s; }
a.button:hover:after { width: 100%; }
a.button.button-white { border: 0 none; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; cursor: pointer; display: inline-block; margin-right: 10px; overflow: hidden; padding: 0; position: relative; background-color: #fff; color: #00a9da; font-size: 15px; }
a.button.button-white i { background: rgba(0, 0, 0, 0.09); display: block; float: left; padding: 14px; font-size: 16px; color: #00a9da; font-weight: normal; width: 50px; text-align: center; }
a.button.button-white span { display: block; float: left;  position: relative; z-index: 2; padding: 11px 20px; font-size: 15px; color: #00a9da; font-weight: normal;  }
a.button.button-grey { border: 0 none; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; cursor: pointer; display: inline-block; margin-right: 10px; overflow: hidden; padding: 0; position: relative; background-color: #eceff7; color: #00a9da; font-size: 15px; }
a.button.button-grey i { background: rgba(0, 0, 0, 0.09); display: block; float: left; padding: 14px; font-size: 16px; color: #00a9da; font-weight: normal; width: 50px; text-align: center; }
a.button.button-grey span { display: block; float: left;  position: relative; z-index: 2; padding: 11px 20px; font-size: 15px; color: #00a9da; font-weight: normal;  }
a.button.button-black { border: 0 none; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; cursor: pointer; display: inline-block; margin-right: 10px; overflow: hidden; padding: 0; position: relative; background-color: #444444; color: #00a9da; font-size: 15px; }
a.button.button-black i { background: rgba(0, 0, 0, 0.3); display: block; float: left; padding: 14px; font-size: 16px; color: #fff; font-weight: normal; width: 50px; text-align: center; }
a.button.button-black span { display: block; float: left;  position: relative; z-index: 2; padding: 11px 20px; font-size: 15px; color: #fff; font-weight: normal;  }
a.button-border span { border: 0 none; border-radius: 3px; cursor: pointer; display: inline-block; padding: 11px 20px; margin-right: 10px; overflow: hidden; position: relative; background-color: transparent; color: #00a9da; font-size: 15px; border:1px solid #00a9da; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
a.button-border span:hover {  box-shadow: -200px 0 0 #00a9da inset; color: #fff; border-color: #00a9da; }
a.button-border-white span { border: 0 none; border-radius: 3px; cursor: pointer; display: inline-block; padding: 11px 20px; margin-right: 10px; overflow: hidden; position: relative; background-color: transparent; color: #fff; font-size: 15px; border:1px solid #fff; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
a.button-border-white span:hover { box-shadow: -200px 0 0 #fff inset; color: #00a9da; border-color: #fff; }


button.button { border: 0 none; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; cursor: pointer; display: inline-block; margin-right: 10px; overflow: hidden; padding: 0; position: relative; background-color: #00a9da; color: #fff; font-size: 15px; }
button.button i { background: rgba(0, 0, 0, 0.09); display: block; float: left; padding: 14px; font-size: 16px; color: #fff; font-weight: normal; width: 50px; text-align: center; }
button.button span { display: block; float: left;  position: relative; z-index: 2; padding: 11px 20px; font-size: 15px; color: #fff; font-weight: normal;  }
button.button:after { background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0; content: ""; height: 100%; right: 0; position: absolute; top: 0; width: 0;z-index: 1; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;  transition: all 0.3s ease-out 0s; }
button.button:hover:after { width: 100%; }

button.button-border span { border: 0 none; border-radius: 3px; cursor: pointer; display: inline-block; padding: 11px 20px; margin-right: 0px; overflow: hidden; position: relative; background-color: transparent !important; color: #00a9da; font-size: 15px; border:1px solid #00a9da; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
button.button-border span:hover {  box-shadow: -200px 0 0 #00a9da inset; color: #fff; border-color: #00a9da; }
#contactform-2 button { background: transparent; border:none; padding: 0px; margin: 0px; }
 

/*************************
 		button small
*************************/
a.button-small { border: 0 none; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; cursor: pointer; display: inline-block; margin-right: 10px; overflow: hidden; padding: 0; position: relative; background-color: #00a9da; color: #fff; font-size: 15px; }
a.button-small i { background: rgba(0, 0, 0, 0.09); display: block; float: left; padding: 10px; font-size: 13px; color: #fff; font-weight: normal; width: 40px; text-align: center; }
a.button-small span { display: block; float: left;  position: relative; z-index: 2; padding:8px 10px; font-size: 13px; color: #fff; font-weight: normal;  }
a.button-small:after { background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0; content: ""; height: 100%; right: 0; position: absolute; top: 0; width: 0;z-index: 1; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;	transition: all 0.3s ease-out 0s; }
a.button-small:hover:after { width: 100%; }

/*************************
		share button
*************************/
.share { position: relative; cursor: pointer;}
.share .share-button { background: #00a9da; border-radius: 3px; padding: 9px 15px; color: #fff; position: absolute; right: 0; z-index: 99; }
.share ul { float: left; opacity: 0; background: #eceff8; border-radius: 3px; padding: 5px 15px; position: absolute; right: 10px; width: 185px; position: relative; transition:all 0.4s ease-in-out; -webkit-transition:all 0.4s ease-in-out; -ms-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; }
.share ul:before { position: absolute; z-index: 999; content: ""; right: -12px; top: 12px; width: 0; height: 0; border-style: solid; border-width: 8px 0 8px 12px; border-color: transparent transparent transparent #eceff8;  }
.share ul li { display: inline-block; }
.share ul li a { display: block; padding: 4px 10px 4px; }
.share ul li a:hover { color: #363636; }
.share:hover ul { opacity: 1; right: 60px; transition:all 0.4s ease-in-out; -webkit-transition:all 0.4s ease-in-out; -ms-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; }
.share.small .share-button { padding: 8px 13px; font-size: 13px; }
.share.small ul { padding: 2px 10px; width: 140px; }
.share.small ul li a { display: block; padding: 4px 7px; }
.share.small ul:before { border-width: 6px 0 6px 10px; top: 11px; right: -9px; }
.share.small:hover ul { right: 52px; }

/*************************
		Text color
*************************/
.text-blue { color: #00a9da; }
.text-white { color: #fff; }
.text-black { color: #363636; }
 
/*************************
		Input
*************************/
input { background: #eceff8; border:2px solid #eceff8; height: 45px; box-shadow: none; padding-left: 10px; transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; font-size: 14px; color: #626262; width: 100%; }
select { width: 100%; background: #eceff8; border:2px solid #eceff8; height: 45px; padding-left: 10px; box-shadow: none; transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; font-size: 14px; color: #626262; }
option { background: #fff; border:0px solid #626262; padding-left: 10px; font-size: 14px; }
input:focus { background: transparent; border:2px solid #00a9da; }
textarea  { resize: vertical; background: #eceff8; border:2px solid #eceff8; padding: 10px; width: 100%; transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; font-size: 14px; }
textarea:focus { background: transparent; border:2px solid #00a9da; outline: none !important; }
.form-control { background-color: transparent; border:1px solid #2f2f2f; border-radius: 0px; color: #fff; box-shadow: none; }
.input-group-addon { background-color: transparent; border-color: #2f2f2f; border-radius: 0px; border-right: 0px; }
.input-group-addon i { color: #00a9da; }
.form-control:focus { box-shadow: none; border-color: #2f2f2f;}
.input-group-btn button { background-color: #2f2f2f; border-color: #2f2f2f; border-radius: 0px; color: #00a9da; padding: 9px 12px; }
.input-group-btn button:hover { background-color: #00a9da; border-color: #00a9da; border-radius: 0px; color: #fff; }
.input-group.divcenter .form-control::-moz-placeholder { color: #4a4a4a; font-size: 13px; }
.input-group.divcenter.input-group .form-control { padding-left: 0px }

 /*************************
		Extra class
*************************/
.pricing .container .row [class*="col-"] { padding-left: 0 !important;  padding-right: 0 !important; }
.our-services .container-fluid .row [class*="col-"] { padding-left: 0 !important;  padding-right: 0 !important; }
.co-plr .container-fluid .row [class*="col-"] { padding-left: 0 !important;  padding-right: 0 !important; }
.container-fluid.fluid-padd { padding: 0 50px; }
.over-inherit { overflow: inherit !important; }
span.label { padding: 0.1em .5em .1em; text-transform: uppercase; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset !important; }
.contact-3-info input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px black inset !important; color: inherit !important }
.contact-5 input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px black inset !important; color: inherit !important }
.mfp-wrap { z-index: 99999; }
.mfp-bg { z-index: 99999; }
 /*hack code ie 9*/
@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
   .tp-caption.title-1-desc,.title-1-desc { line-height: 30px; } 
    .rev-slider a.button i { padding: 20px;}
    .rev-slider a.button.button-white i { padding: 20px;}
    .rev-slider .tp-caption.sfr.fadeout a.button span { padding: 20px; }
    .rev-slider .tp-caption.sfl.fadeout a.button.button-white span { padding: 20px; }
    .rev-slider-2 a.button.button i { padding: 20px; }
    .rev-slider-2 a.button.button-black i { padding: 20px; }
    .rev-slider-2 .tp-caption.sfr.fadeout a.button span { padding: 11px 20px; line-height: 95px !important; }
    .rev-slider-2 .tp-caption.sfl.fadeout a.button.button-black span { padding: 11px 20px; line-height: 95px !important; }
    .rev-slider-2 .tp-caption.title-2 { line-height: 75px; }
    .rev-slider-3 .tp-caption.desc-align-right.lfr.tp-resizeme  { line-height: 30px; } 
    .rev-slider-3 a.button.button i { padding: 20px !important; }
    .rev-slider-3 a.button.button-black i { padding: 20px !important; }
    .rev-slider-3 a.button span { padding: 6px 20px !important; line-height: 30px !important;  }
    .rev-slider-3 a.button.button-black span { padding: 6px 20px !important; line-height: 30px !important; }

} 

 /*************************
		Tooltip
*************************/
 .tooltip-content + .tooltip .tooltip-inner { background: #00a9da; color: #fff; padding: 15px; font-size: 13px; width: 200px; position: relative; z-index: 99; top: 0px; left: 5px; margin: 10px 0px; }
 .tooltip-content + .tooltip.top .tooltip-arrow { width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #00a9da; bottom: 7px; margin-left: -7px }
 .tooltip.in { opacity: 1; }
 .tooltip.top .tooltip-arrow { border-top-color: #363636; }
 .tooltip-content + .tooltip.bottom .tooltip-arrow { width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #00a9da; top: 7px; margin-left: -7px;  }
 span.tooltip-content-2 { color: #00a9da; font-weight: 600; cursor: help; }
 .tooltip-content-2 + .tooltip > .tooltip-inner { background: #363636; color: #fff; padding: 5px; font-size: 13px; width: 200px; position: relative; z-index: 99; top: 0px; left: 5px; }
 .tooltip-content-2 + .tooltip.bottom .tooltip-arrow { width: 0; height: 0; border-top: 10px solid #363636; border-bottom: 10px solid #363636; border-left:10px solid #363636; margin-left: 0px; border-top-color: #363636; }
 .tooltip-content-2 i { border: 1px solid #00a9da; border-radius: 50%; height: 30px; padding: 10px; width: 30px; line-height: 9px; text-align: center; font-weight: normal; background: transparent; font-size: 16px; position: relative; z-index: 999; }
  span.tooltip-content-3 { color: #00a9da; font-weight: 600; display: block; }
 .tooltip-content-3 + .tooltip .tooltip-inner { background: #363636; color: #fff; padding: 5px; font-size: 13px; width: 150px; position: relative; z-index: 99; top: 0px; left: 0px; }
 .tooltip-content-3 + .tooltip.bottom .tooltip-arrow { width: 0; height: 0; border-top: 10px solid #363636; border-bottom: 10px solid #363636; border-left:10px solid #363636; margin-left: 0px; }

/*************************
        loding
*************************/
#preloader { background-color:#000; bottom:0; height:100%; left:0; overflow:hidden !important;  position:fixed; right:0; top:0; width:100%; z-index:99999; text-align:center;}
.clear-loading { text-align: center;  position: absolute; top: 50%; left: 50%; margin-left: -50px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; display:inline-block;  text-align:center; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); }
 /*Loading Effect */
.loading-effect { width: 100px; height: 100px; }
.loading-effect > span,
.loading-effect > span:before,
.loading-effect > span:after { content: ""; display: block; border-radius: 50%;  border: 3px solid #00a9da; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.loading-effect > span { width: 100%; height: 100%; top: 0; left: 0;  border-left-color: transparent;  -webkit-animation: effect 2s infinite linear;  -moz-animation: effect 2s infinite linear; -ms-animation: effect 2s infinite linear; -o-animation: effect 2s infinite linear; animation: effect 2s infinite linear;}
.loading-effect > span:before { width: 75%; height: 75%; border-right-color: transparent; }
.loading-effect > span:after { width: 50%; height: 50%; border-bottom-color: transparent; }
@-webkit-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}

/*************************
       Box Layout
*************************/
.boxed-layout .page-wrapper { background-color:#fff; width: 1240px; box-shadow:-3px 0 50px -2px rgba(0, 0, 0, 0.14); margin:0 auto; position: relative; }
.boxed-layout.transparent-page-wrapper .page-wrapper { background-color: transparent; box-shadow: none; }
.boxed-layout.page-wrapper { background-color:#fff; width: 1240px; box-shadow:-3px 0 50px -2px rgba(0, 0, 0, 0.14); margin:0 auto;  position: relative; }
.boxed-layout .page-wrapper .mega-menu.desktopTopFixed .menu-list-items { width: 1240px; margin: 0 auto; }
.boxed-layout.page-wrapper .mega-menu.desktopTopFixed .menu-list-items { width: 1240px; margin: 0 auto; }

/*************************
		back-to-top
*************************/
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: #fff; transition:all .5s ease-in-out; position:fixed; bottom:105px; right:15px; border-radius: 3px; z-index: 999; background: transparent; font-size: 14px; background: #00a9da; width: 40px; height: 40px; text-align: center; line-height: 38px; }
#back-to-top .top:hover { color: #fff; height: 50px; }
.home-2 #back-to-top .top { background: #007da1; }

 /*************************
  Basic margin padding
*************************/ 
.m-0 { margin-top: 0 !important; margin-right: 0 !important; margin-bottom: 0 !important; margin-left: 0 !important; }
.p-0 { padding-top: 0 !important; padding-right: 0 !important; padding-bottom: 0 !important; padding-left: 0 !important; }
 
/*************************
		 Margin top
*************************/ 
.mt-0 {	margin-top: 0 !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-60 { margin-top: 60px !important; }
.mt-70 { margin-top: 70px !important; }
.mt-80 { margin-top: 80px !important; }
.mt-90 { margin-top: 90px !important; }
.mt-100 { margin-top: 100px !important; }
.mt-110 { margin-top: 110px !important; }
.mt-120 { margin-top: 120px !important; }
.mt-130 { margin-top: 130px !important; }
.mt-140 { margin-top: 140px !important; }
.mt-150 { margin-top: 150px !important;}

 /*************************
	  Margin right
*************************/ 
.mr-0 { margin-right: 0!important }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-30 { margin-right: 30px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-50 { margin-right: 50px !important; }
.mr-60 { margin-right: 60px !important; }
.mr-70 { margin-right: 70px !important; }
.mr-80 { margin-right: 80px !important; }
.mr-90 { margin-right: 90px !important; }
.mr-100 { margin-right: 100px !important; }
.mr-110 { margin-right: 110px !important; }
.mr-120 { margin-right: 120px !important; }
.mr-130 { margin-right: 130px !important; }
.mr-140 { margin-right: 140px !important; }
.mr-150 { margin-right: 150px !important; } 

 /*************************
	  Margin bottom
*************************/
.mb-0 { margin-bottom: 0!important }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-70 { margin-bottom: 70px !important; }
.mb-80 { margin-bottom: 80px !important; }
.mb-90 { margin-bottom: 90px !important; }
.mb-100 { margin-bottom: 100px !important; }
.mb-110 { margin-bottom: 110px !important; }
.mb-120 { margin-bottom: 120px !important; }
.mb-130 { margin-bottom: 130px !important; }
.mb-140 { margin-bottom: 140px !important; }
.mb-150 { margin-bottom: 150px !important; }

/*************************
		Margin left
*************************/
.ml-0 { margin-left: 0!important }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px !important; }
.ml-30 { margin-left: 30px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-50 { margin-left: 50px !important; }
.ml-60 { margin-left: 60px !important; }
.ml-70 { margin-left: 70px !important; }
.ml-80 { margin-left: 80px !important; }
.ml-90 { margin-left: 90px !important; }
.ml-100 { margin-left: 100px !important; }
.ml-110 { margin-left: 110px !important; }
.ml-120 { margin-left: 120px !important; }
.ml-130 { margin-left: 130px !important; }
.ml-140 { margin-left: 140px !important; }
.ml-150 { margin-left: 150px !important; } 
 
 /*************************
		Padding top
*************************/
.pt-0 { padding-top: 0!important }
.pt-10 { padding-top: 10px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-50 { padding-top: 50px !important; }
.pt-60 { padding-top: 60px !important; }
.pt-70 { padding-top: 70px !important; }
.pt-80 { padding-top: 80px !important; }
.pt-90 { padding-top: 90px !important; }
.pt-100 { padding-top: 100px !important; }
.pt-110 { padding-top: 110px !important; }
.pt-120 { padding-top: 120px !important; }
.pt-130 { padding-top: 130px !important; }
.pt-140 { padding-top: 140px !important; }
.pt-150 { padding-top: 150px !important; } 

 /*************************
		Padding right
*************************/
.pr-0 { padding-right: 0!important }
.pr-10 { padding-right: 10px !important; }
.pr-15 { padding-right: 15px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-30 { padding-right: 30px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-50 { padding-right: 50px !important; }
.pr-60 { padding-right: 60px !important; }
.pr-70 { padding-right: 70px !important; }
.pr-80 { padding-right: 80px !important; }
.pr-90 { padding-right: 90px !important; }
.pr-100 { padding-right: 100px !important; }
.pr-110 { padding-right: 110px !important; }
.pr-120 { padding-right: 120px !important; }
.pr-130 { padding-right: 130px !important; }
.pr-140 { padding-right: 140px !important; } 
 
 /*************************
		Padding bottom
*************************/
.pb-0 { padding-bottom: 0!important }
.pb-10 { padding-bottom: 10px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-50 { padding-bottom: 50px !important; }
.pb-60 { padding-bottom: 60px !important; }
.pb-70 { padding-bottom: 70px !important; }
.pb-80 { padding-bottom: 80px !important; }
.pb-90 { padding-bottom: 90px !important; }
.pb-100 { padding-bottom: 100px !important; }
.pb-110 { padding-bottom: 110px !important; }
.pb-120 { padding-bottom: 120px !important; }
.pb-130 { padding-bottom: 130px !important; }
.pb-140 { padding-bottom: 140px !important; }
.pb-150 { padding-bottom: 150px !important; } 
 
 /*************************
		Padding left
*************************/
.pl-0 { padding-left: 0!important }
.pl-10 { padding-left: 10px !important; }
.pl-15 { padding-left: 15px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-30 { padding-left: 30px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-50 { padding-left: 50px !important; }
.pl-60 { padding-left: 60px !important; }
.pl-70 { padding-left: 70px !important; }
.pl-80 { padding-left: 80px !important; }
.pl-90 { padding-left: 90px !important; }
.pl-100 { padding-left: 100px !important; }
.pl-110 { padding-left: 110px !important; }
.pl-120 { padding-left: 120px !important; }
.pl-130 { padding-left: 130px !important; }
.pl-140 { padding-left: 140px !important; }
.pl-150 { padding-left: 150px !important; } 